.container
  .card
    .card-title
      %p.center Login
    .card-content
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .row
          .col.s6
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"
          .col.s6
            = f.password_field :password, autocomplete: "current-password", placeholder: 'Password'
        .row
          .col.s12
            = f.submit "Log in", class: 'btn red', style: 'width: 100%'
      .row
        .col.s12
          = render "users/shared/links"
