%ul
  - current_user.links.each do |link|
    %li= link.url
    %ol= link.params
    - if link.preview_image.present?
      = image_tag(link.preview_image)
    - else
      = image_tag('301.png')
    = link.tags.pluck(:name)
